{% extends 'layout.html' %}

{% block title %}
    Add User
{% endblock title %}


{% block content %}

{% include 'flashes.html' %}

{% if name %}
    <h1>Korisnik {{ name }} dodan...!!</h1>
    <br><br>
    <table class="table table-hover table-bordered table-striped">        
        {% for user in all_users %}
            <tr>
                <td>
                    {{ user.id }}. <a href="{{ url_for('update', id=user.id) }}">
                    {{ user.name }}</a> - 
                    {{ user.email }} - 
                    {{ user.picture }}
                    {{ user.favorite_plant }}
                    {{ moment(user.date_added).format('LLLL') }}        
                </td>
            </tr>    
        {% endfor %}
    </table>

    
{% else %}

<!-- FORM GOES HERE -->
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="form-group">

            {{ form.name.label(class="form-control-label") }}

            {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
            {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            
            {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
            {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.picture.label() }}<br>
            {{ form.picture(class="form-control-file") }}
            {% if form.picture.errors %}
            
                {% for error in form.picture.errors %}
                    <span class="text-danger">{{ error }}</span><br>
                {% endfor %}
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form.favorite_plant.label() }}<br>
            {{ form.favorite_plant(class="form-control form-control-lg") }}
            {% if form.favorite_plant.errors %}
                {% for error in form.favorite_plant.errors %}
                    <span class="text-danger">{{ error }}</span><br>
                {% endfor %}
            {% endif %}
        </div>


        <br>
        
        <div class="form-group">
        {{ form.submit(class="btn btn-secondary my-2") }}
        </div>
        
    </form>
{% endif %}

<br>

<h3>User List:</h3>
<br>

<table class="table table-hover table-bordered table-striped">        
    {% for user in all_users %}
        <tr>
            <td>
                {{ user.id }}. <a href="{{ url_for('update', id=user.id) }}">
                {{ user.name }}</a> - 
                {{ user.email }} - 
                {{ moment(user.date_added).format('LLLL') }}        
            </td>
        </tr>    
    {% endfor %}
</table>

{% endblock content%}
