{% extends 'layout.html' %}

{% block title %}
    Name
{% endblock title %}


{% block content %}

    {% include 'flashes.html' %}


    {% if name %}

        <h1>Pozdrav {{ name|capitalize }}</h1>
        <br>
        <img src="{{ url_for('static', filename='pics/tenica.png') }}" alt="">


    {% else %}

        <h1>Vaše ime je...?</h1>
        <br>
        <form method="post">
            {{ form.hidden_tag() }}

            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}

            {{ form.submit(class="btn btn-secondary my-2") }}
        </form>
        
    {% endif %}

{% endblock content%}