{% extends 'layout.html' %}

{% block title %}
Delete Plant
{% endblock %}


{% block content %}

<h2>Brisanje biljke br. {{ plant.id }} iz baze</h2>
    
    <!-- Content Row-->
    <!-- POČETAK KARTICE -->
    <div class="card mb-3" style="max-width: 800px;">
        <div class="row g-0">
            <!-- IMAGE -->
            <div class="col-md-4">
                <img src="{{ url_for('static', filename='pics/' + plant.photo) }}" class="img-fluid rounded-start m-2 max-width-300 max-height-300" alt="...">
            </div>
            <div class="col">
                <div class="card-body">
                    <h5 class="card-title">{{ plant.name }}</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Temperatura = {{ plant.temperature }} °C</li>
                        <li class="list-group-item">pH = {{ plant.phf }}</li>
                        <li class="list-group-item">Vlažnost = {{ plant.humidity }} %</li>
                        <li class="list-group-item">
                            <div class="container-sm">
                                {{ plant.details }}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Kraj KARTICE -->

    <div class="card-body">
        <a href="{{ url_for('plants') }}" class="btn btn-info">Back to plants</a>
        {% include 'modal_delete_p.html' %}
    </div>
    
    <br>

{% endblock %}