{% extends 'layout.html' %}

{% block title %}
{% endblock title %}

{% block content %}

<form method="POST">
    
    {{ form.hidden_tag() }}
    
    {{ form.biljka.label(class_="form-label") }}
    {{ form.biljka(class_="form-control") }}
    
    <br>
    
    {{ form.submit(class_="btn btn-outline-primary") }}
    
</form>

<br>

<ul class="list-group">
    {% for plant in all_plants %}
        <li class="list-group-item">
            {{ plant.id }} - <a href="{{ url_for('plant_details', plant_id=plant.id, plant_name=plant.name) }}" target="_blank">{{ plant.name }}</a>

        </li>
    {% endfor %}
    
</ul>

{% endblock content %}

