{% extends 'layout.html' %}

{% block title %}
Jar Details
{% endblock %}

{% block content %}

<!-- POČETAK KARTICE -->
<div class="container-sm">
    <a href="{{ url_for('sync_jar', jar_id=jar.id) }}" class="btn btn-warning">SYNC JAR SENSORS</a>
</div>

<br>

<div class="card mb-1" style="max-width: 1200px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='pics/' + jar.photo) }}" class="img-fluid rounded-start m-2 max-width-300 max-height-300" alt="...">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h4 class="card-title">{{ jar.name|capitalize }}</h4>
                
                <br>
                
                {% if plant %}
                    <a href="{{ url_for('plant_details', plant_id=plant.id, plant_name=plant.name) }}" target="_blank">
                        <h5>{{ plant.name }}
                    </a>
                {% else %}
                    <h5>Plantless</h5>
                {% endif %}
                
                <br><br>
                <ul class="list-group">
                    <li class="list-group-item text-center">SENZORI POSUDE:</li>
                    <li class="list-group-item">Temperatura = {{ jar.temperature }}°C</li>
                    <li class="list-group-item">pH Faktor = {{ jar.phf }}</li>
                    <li class="list-group-item">Vlažnost = {{ jar.humidity }}%</li>
                    
                    <br><br>
                    <li class="list-group-item text-center">STATUSI:</li>
                    {% if jar.plant_name != 'Plantless' %}    
                    
                    {% if jar.temperature < plant.temperature %}
                        <li class="list-group-item">Temperatura = PREHLADNO</li>
                    {% else %}
                        <li class="list-group-item">Temperatura = U REDU</li>
                    {% endif %}
                    
                    
                    {% if jar.phf < plant.phf %}
                        <li class="list-group-item">pH = DODATI SUPSTRAT</li>
                    {% else %}
                        <li class="list-group-item">pH = U REDU</li>
                    {% endif %}
                    

                    {% if jar.humidity < plant.humidity %}
                        <li class="list-group-item">Vlaga = DODATI VODE</li>   
                    {% else %}
                        <li class="list-group-item">Vlaga = U REDU</li>    
                    {% endif %}
                
                {% else %}
                    <li class="list-group-item">Temperatura = Offline</li>
                    <li class="list-group-item">pH = Offline</li>
                    <li class="list-group-item">Vlaga = Offline</li>
                {% endif %}
                    
                </ul>
            </div>
        </div>
        
    </div>
    <div class="card-body">
        <a href="{{ url_for('add_plant', jar_id=jar.id) }}" class="btn btn-info">Add Plant</a>
        {% include 'modal_empty.html' %}
        <a href="{{ url_for('jars')}}" class="btn btn-secondary">Back to Jars</a>
    </div>
</div>
<!-- Kraj KARTICE -->

{% endblock %}

