{% extends 'layout.html' %}

{% block title %}
Jar Details
{% endblock %}

{% block content %}

<!-- POČETAK KARTICE -->
<div class="card mb-3" style="max-width: 1000px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='pics/' + jar.photo) }}" class="img-fluid rounded-start m-2" alt="...">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h4 class="card-title">{{ jar.name|capitalize }}</h4>
                
                <br>
                
                {% if plant %}
                    <a href="{{ url_for('plant_details', plant_id=plant.id, plant_name=plant.name) }}" target="_blank">
                        <h5>{{ plant.name }}
                    </a>
                {% else %}
                    <h5>Plantless</h5>
                {% endif %}
                
                <br><br>
                <ul class="list-group">
                    <li class="list-group-item">Temperatura = {{ jar.temperature }}°C</li>
                    <li class="list-group-item">pH Faktor = {{ jar.phf }}</li>
                    <li class="list-group-item">Vlažnost = {{ jar.humidity }}%</li>
                    
                    <br><br>
                
                    {% if jar.plant_name != 'Plantless' %}    
                    
                    {% if jar.temperature < plant.temperature %}
                        <li class="list-group-item">STATUS Temperature = PREHLADNO</li>
                    {% else %}
                        <li class="list-group-item">STATUS Temperature = U REDU</li>
                    {% endif %}
                    
                    
                    {% if jar.phf < plant.phf %}
                        <li class="list-group-item">STATUS pH = DODATI SUPSTRAT</li>
                    {% else %}
                        <li class="list-group-item">STATUS pH = U REDU</li>
                    {% endif %}
                    

                    {% if jar.humidity < plant.humidity %}
                        <li class="list-group-item">STATUS Vlage = DODATI VODE</li>   
                    {% else %}
                        <li class="list-group-item">STATUS Vlage = U REDU</li>    
                    {% endif %}
                
                {% else %}
                    <li class="list-group-item">STATUS Temperature = Offline</li>
                    <li class="list-group-item">STATUS pH = Offline</li>
                    <li class="list-group-item">STATUS Vlage = Offline</li>
                {% endif %}
                    
                </ul>
            </div>
        </div>
        
    </div>
    <div class="card-body">
        <a href="{{ url_for('jars')}}" class="btn btn-secondary">Back to Jars</a>
        {% include 'modal_delete.html' %}
    </div>
</div>
<!-- Kraj KARTICE -->

{% endblock %}

