{% extends 'layout.html' %}

{% block title %}
Jars
{% endblock title %}


{% block content %}

<div class="container">
    <header class="blog-header">
        <div class="text-end">
        
            <div class="container-sm">
                <a href="{{ url_for('sync') }}" class="btn btn-warning">SYNC ALL SENSORS</a>
                <br><br>
                <form method="POST">
                    {{ form.hidden_tag() }}

                    {{ form.name.label() }}
                    {{ form.name(class="form-control-sm") }}

                    {{ form.submit(class="btn btn-info") }}

                </form>
            </div>
        </div>
    </header>
<br>


<!-- Content Row-->
    <div class="row row-cols-1 row-cols-md-2 g-4">
            
        {% for jar in jars %}
            <!-- POČETAK KARTICE -->
            <div class="card mb-3" style="max-width: 600px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ url_for('static', filename='pics/' + jar.photo) }}" class="img-fluid rounded-start m-2 max-width-300 max-height-300" alt="...">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h4 class="card-title">{{ jar.name|capitalize }}</h4>   
                            <br>                        
                            <h5 class="card-title">{{ jar.plant_name }}</h5>
                            
                            <br>
                        {% if jar.plant_name != 'Plantless' %}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Temperatura = {{ jar.temperature }}°C</li>
                                <li class="list-group-item">pH Faktor = {{ jar.phf }}</li>
                                <li class="list-group-item">Vlažnost = {{ jar.humidity }}%</li>
                            </ul>
                        
                        {% else %}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Temperatura = Offline</li>
                                <li class="list-group-item">pH Faktor = Offline</li>
                                <li class="list-group-item">Vlažnost = Offline</li>
                            </ul>
                        {% endif %}

                        </div>

                    </div>
                    <div class="col-md-6">
                    </div>
                </div>

                <br>
                
                
                <div class="card-body">
                    <a href="{{ url_for('jar_details', jar_id=jar.id) }}" class="btn btn-info">Details</a>
                    
                    <a href="{{ url_for('jar_to_delete', jar_id=jar.id) }}" class="btn btn-danger">Delete</a>

                </div>
            </div>
            <!-- Kraj KARTICE -->
        {% endfor %}       
    </div>
{% endblock content %}

