<!-- PRIKAZ SVIH -->

<!-- POČETAK KARTICE -->
<div class="card m-3" style="width: 18rem;">
    <img class='m-3' src="{{ url_for('static', filename='pics/' + plant.photo) }}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ plant.name }}</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Temperatura = 25.6 °C --> STATUS - DODATI</li>
        <li class="list-group-item">Vlažnost = 44 %--> STATUS - DODATI</li>
        <li class="list-group-item">pH = 7.7 --> STATUS - DODATI</li>
        
    </ul>
    <div class="card-body">
        <a href="{{ url_for('plant_details', plant_id=plant.id) }}" class="btn btn-info">View</a>
        <a href="#" class="btn btn-danger">Delete</a>
    </div>
</div>
<br>
<!-- Kraj KARTICE -->


<!-- PRIKAZ JEDNE -->

<!-- POČETAK KARTICE -->
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Temperatura = 25.6 °C --> STATUS - DODATI</li>
                    <li class="list-group-item">Vlažnost = 44 %--> STATUS - DODATI</li>
                    <li class="list-group-item">pH = 7.7 --> STATUS - DODATI</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Kraj KARTICE -->

