{% extends 'layout.html' %}

{% block title %}
    POKUŠAJI
{% endblock %}

{% block content %}
    <h4>Jedna Kartica</h4>
    <div class="card-body">
        <a href="#" class="btn btn-info">Ažuriraj</a>
        <a href="#" class="btn btn-warning">SYNC</a>
    </div>

<!-- Content Row-->
<!-- POČETAK KARTICE -->
<div class="card mb-3" style="max-width: 800px;">
    <div class="row g-0">
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='pics/' + plant.photo) }}" class="img-fluid rounded-start m-2" alt="...">
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <h5 class="card-title">Posuda {{ plant.id }}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Temperatura = 25.6 °C --> STATUS - DODATI</li>
                    <li class="list-group-item">Vlažnost = 44 %--> STATUS - DODATI</li>
                    <li class="list-group-item">pH = 7.7 --> STATUS - DODATI</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Kraj KARTICE -->

{% endblock content %}

